connexion[fastapi,swagger-ui]
uvicorn
cryptography
sqlalchemy
python-multipart
pydantic
pydantic-settings
pyjwt
openpyxl
pandas
python-jose
passlib
bcrypt==3.2.0
fastapi
psycopg
psycopg_binary
asyncpg
quickjs
apscheduler
azure-identity
azure-keyvault-secrets